
script(type='text/javascript', src='/libs/mdb/jquery-3.3.1.min.js') 
script(type='text/javascript', src='/libs/mdb/popper.min.js')
script(type='text/javascript', src='/libs/mdb/bootstrap.min.js')
script(type='text/javascript', src='/libs/mdb/mdb.min.js')

//- script(type='text/javascript',src='/js/common/ModalTemplate.js')
//- script(type='text/javascript',src='/js/common/validations.js')
//- script(type='text/javascript',src='/js/common/JSArrays.js')


script(type='text/javascript', src='/js/vendor.bundle.js')
script(type='text/javascript', src='/js/app.bundle.js')

if !user
 script(type="text/javascript").
  window.user = "";
else
 script(type="text/javascript").
  window.user = !{user};

script.
 $('.button-collapse').sideNav({ closeOnClick: true });
 
