script(type='text/javascript', src='/js/vendor.bundle.js')
script(type='text/javascript', src='/js/app.bundle.js')

script(type='text/javascript', src='/libs/mdb/mdb.min.js')

if !user
 script(type="text/javascript").
  window.user = "";
else
 script(type="text/javascript").
  window.user = !{user};

 