


script(type='text/javascript', src='/mdb4/assets/libs/angular/angular.min.js')
script(type='text/javascript', src='/mdb4/assets/libs/angular/angular-route.js')








script(type='text/javascript', src='/mdb4/assets/libs/mdb/jquery-3.3.1.min.js') 
script(type='text/javascript', src='/mdb4/assets/libs/mdb/popper.min.js')
script(type='text/javascript', src='/mdb4/assets/libs/mdb/bootstrap.min.js')
script(type='text/javascript', src='/mdb4/assets/libs/mdb/mdb.min.js')


script(type='text/javascript', src='/mdb4/assets/js/app.js')
script(type='text/javascript', src='/mdb4/assets/js/directives/directives.js')
script(type='text/javascript', src='/mdb4/assets/js/app.config.js')
script(type='text/javascript', src='/mdb4/assets/js/services/services.js')
script(type='text/javascript', src='/mdb4/assets/js/app.routes.js')
script(type='text/javascript', src='/mdb4/assets/js/app.lang.js')

script.
 $('.button-collapse').sideNav();
