//- librerias
script(type='text/javascript', src='/lib/jquery-2.1.3.js')
script(type='text/javascript', src='/lib/jquery.ui/jquery-ui.js')



script(type='text/javascript', src='/lib/angular.js')
script(type='text/javascript', src='/lib/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource.js')
script(type='text/javascript', src='/lib/angular-route.js')
script(type='text/javascript', src='/lib/socket.io-1.3.6.js')
script(type='text/javascript', src='/lib/underscore-min.js')



//- lib propio
script(type='text/javascript', src='/lib/pims.ui.js')
script(type='text/javascript', src='/lib/pims.grid.js')
script(type='text/javascript', src='/lib/pims.keypress.js')
script(type='text/javascript', src='/lib/pims.menu.js')


//- directivas ... configuraciones
script(type='text/javascript', src='/app/app.main.js')
script(type='text/javascript', src='/app/config.js')
script(type='text/javascript', src='/app/directives.js')
script(type='text/javascript', src='/app/filters.js')
script(type='text/javascript', src='/app/logger.js')
script(type='text/javascript', src='/app/datacontext.js')

//- servicios específicos
script(type='text/javascript', src='/app.services/global.js')

script(type='text/javascript', src='/app.services/pims.carga.js')



//- controladores

script(type='text/javascript', src='/app.views/upload/uploaddata.js')

script(type='text/javascript', src='app.views/admin/perfiles/perfiles.js')
script(type='text/javascript', src='app.views/admin/acciones/acciones.js')
script(type='text/javascript', src='app.views/precargaUsuario/precargaUsuario.js')
script(type='text/javascript', src='app.views/survey/survey.js')


script(type='text/javascript', src='app.views/instituciones/ciudadano/tramites.js')

script(type='text/javascript', src='/app.views/header.js')
script(type='text/javascript', src='/app.views/index.js')

script(type='text/javascript', src='/app.views/pentaho/index.js')


script(type='text/javascript', src='/lib/bootstrap.min.js')
script(type='text/javascript', src='/lib/bootstrap-timepicker/js/bootstrap-timepicker.js')


script(type='text/javascript', src='/app/app.init.js')


