head
  title= appName

  
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')  
  
  
  link(href='/img/icons/icon64.png', rel='shortcut icon', type='image/x-icon')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  
  link(rel='stylesheet', href='/mdb4/assets/libs/mdb/bootstrap.min.css')
  link(rel='stylesheet', href='/mdb4/assets/libs/mdb/mdb.min.css')
  link(rel='stylesheet', href='/mdb4/assets/libs/mdb/style.css')
  script(type="text/javascript").
    window.user = !{user};


