
header
    nav( class="navbar navbar-toggleable double-nav elegant-color  fixed-top scrolling-navbar")
        div(class='d-flex justify-content-between mx-6')
            div 
                a(href='#', data-activates='slide-out' ,class='button-collapse')
                    i( class='fa fa-bars')
            div 
                img(src='/assets/icons/logo.png', height='28',align='left' class='d-inline-block align-top mx-3')  


    div( id='slide-out' ,class='side-nav fixed  elegant-color')
        br
        img(src='/assets/icons/logo.png',width='80%',align='left', class='d-inline-block align-top mx-3')  
        br
        br
        br
        ul( class='custom-scrollbar list-unstyled')
            li
                form( class='search-form' ,role='search')
                    div( class='md-form my-0 waves-light')
                        input(type='text', class='form-control py-2', placeholder='Search')
            li
                ul( class='collapsible collapsible-accordion')
                    li
                        a(href='/#!/surveys', ng-click='toogleNavBar()' , data-toggle="collapse",data-target=".navbar-collapse.show", class='collapsible-header waves-effect') Survey
                    li
                        a(href='/#!/', ng-click='toogleNavBar()' ,  data-toggle="collapse",data-target=".navbar-collapse.show", class='collapsible-header waves-effect') Hoteles
                    li
                        a(href='/reactjs',target="_black") Demo ReactJs                        
                    li
                        a(class='collapsible-header waves-effect arrow-r')
                            i(class='fa fa-eye') 
                            | About
                            i(class='fa fa-angle-down rotate-icon')

                        div( class='collapsible-body')
                            ul
                                li
                                    a(href='#', class='waves-effect') Introduction
                                
                    li
                        a(class='collapsible-header waves-effect arrow-r')
                            i(class='fa fa-envelope-o') 
                            | Contact me
                            i(class='fa fa-angle-down rotate-icon')
                        
                        div( class='collapsible-body')
                            ul
                                li
                                    a(href='#', class='waves-effect') FAQ
                                
                                li
                                    a(href='#', class='waves-effect') Write a message
 <br>