   
<div class="accordion mb-1" id="accordionEx" role="tablist">
    <div class="card">
            <div class="card-header mb-0 z-depth-1" role="tab" id="headingHotel">  
                  <a data-toggle="collapse" data-target="#collapseHotel" aria-expanded="true" aria-controls="collapseExample">
                        <h5 class="mb-0">
                              <i class="fa fa-angle-down rotate-icon"></i> Nombre del hotel 
                        </h5>
                  </a>
            </div>
            <div class="collapse dont-collapse" id="collapseHotel">
                  <div class="card-body m-0 p-0">
                        <search-name value=filter></search-name>
                  </div> 
            </div>
  </div>
</div>  
<div class="accordion mb-1" id="accordionEx" role="tablist">
      <div class="card">
            <div class="card-header"    role="tab" id="headingStar">  
                  <a  data-toggle="collapse" data-target="#collapseStar" aria-expanded="true" aria-controls="collapseExample">
                      <h5 class="mb-0">
                            <i class="fa fa-angle-down rotate-icon"></i> Estrellas 
                      </h5>
                  </a>
            </div>
            <div class="collapse dont-collapse" id="collapseStar">
                <div class="card-body m-0 p-0">
                      <search-star value=filter></search-star>
                </div> 
            </div>
      </div>
</div>      