   
<div class="accordion mb-1" id="accordionEx" role="tablist">
    <div class="card">
          <div class="card-header  collapse dont-collapse collapse-lg z-depth-1" >
              <h5 class="mb-0">
                  Nombre del hotel
              </h5>
          </div>
          <div class="card-header d-lg-none mb-0 z-depth-1" role="tab" id="headingHotel">  
              <a class="d-lg-none"  data-toggle="collapse" data-target="#collapseHotel" aria-expanded="true" aria-controls="collapseExample">
                  <h5 class="mb-0">
                    Nombre del hotel <i class="fa fa-angle-down rotate-icon"></i>
                  </h5>
              </a>
          </div>

          <div class="collapse dont-collapse" id="collapseHotel">
            <div class="card-body m-0 p-0">
                  <search-name value=filter></search-name>
            </div> 
          </div>
  </div>
</div>  

  <div class="accordion mb-1" id="accordionEx" role="tablist">
        <div class="card">
              <div class="card-header  collapse dont-collapse z-depth-1" >
                  <h5 class="mb-0">
                      Estrellas
                  </h5>
              </div>
              <div class="card-header d-lg-none mb-1 z-depth-1" role="tab" id="headingStar">  
                  <a class="d-lg-none"  data-toggle="collapse" data-target="#collapseStar" aria-expanded="true" aria-controls="collapseExample">
                      <h5 class="mb-0">
                            Estrellas <i class="fa fa-angle-down rotate-icon"></i>
                      </h5>
                  </a>
              </div>
    
              <div class="collapse dont-collapse" id="collapseStar">
                <div class="card-body m-0 p-0">
                      <search-star value=filter></search-star>
                </div> 
              </div>
      </div>
    </div>      