<div  id="Container_Perfil"  class="page-header">
	<h3>{{perfil.descripcion}} </h3>
</div>

<form   role="form" ng-submit="guardarPerfil()">

	<div id="Container_Acciones" style="display: none;">
		<div class="row">
			<div class="col-xs-5">
				<p><b>Seleccionar Acciones</b> </p>
			</div>
			<div class="col-xs-7">
				<input type="text" class="form-control" ng-model="query" placeholder="Search for a accion">
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col-xs-12">
				<label class="list-group-item"  ng-repeat="accion in acciones | filter:query" style="font-weight: normal;">
					<input type="checkbox"
						   ng-model="accion.selected"
							> {{accion.descripcion}}
					</br></label>
			</div>
		</div>

		<br>
		<div class="row">
			<div class="col-xs-6">
				<a href="/#!/perfiles" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Volver a la lista de perfiles</a>
			</div>
			<div class="col-xs-6" >
				<button style="display: none;" id="btnGuardar_Perfil"  ng-disabled="{{btnOnSubmit}}" class="btn btn-primary pull-right" type="submit">Guardar perfil &raquo;</button>
			</div>
		</div>
	</div>
</form>