<div  id="Container_Perfil"  class="page-header loadingContent">
	<h3>{{perfil.descripcion}} </h3>
</div>
<!-- MENSAJE -->
<div class="alert-division" ng-show="alerts.length > 0">
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
        <span ng-show="alert.type === 'danger'" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
        </span>
		<span class="sr-only">Error:</span>
		<strong ng-show="alert.strong">{{alert.strong}}</strong>
		{{alert.msg}}
		<a ng-show = "alert.ltext" href="" ng-click="frontDoor(alert.lfunc)"
		   class="alert-link">{{alert.ltext}}</a>
	</alert>
</div>
<!-- END MENSAJE -->
<form id="formPerfil" name="formPerfil" class="form-horizontal" role="form" style="display: none;">
	<div class="form-group">
		<label class="control-label col-sm-2" for="txtCodigo">Codigo:</label>
		<div class="col-sm-5">
			<input type="text" name="codigo" id="txtCodigo" class="form-control" ng-model="perfil.code" required role="codigo">
			<span class=".control-group.error .control-label" style="color:#880000;" ng-show="formPerfil.codigo.$error.required">Ingresar Codigo.</span>
		</div>
	</div>


	<div class="form-group">
		<label class="control-label col-sm-2" for="txtPerfil">Perfil</label>
		<div class="col-sm-5">
			<input type="text" name="perfil" id="txtPerfil" class="form-control" ng-model="perfil.perfil" required role="perfil">
			<span class=".control-group.error .control-label" style="color:#880000;" ng-show="formPerfil.perfil.$error.required">Ingresar perfil.</span>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="txtNivelSeguridad">Nivel Seguridad</label>
		<div class="col-sm-5">
			<input type="text" type="number" name="perfil" id="txtNivelSeguridad" class="form-control" ng-model="perfil.nivelSeguridad" required role="perfil">
			<span class=".control-group.error .control-label" style="color:#880000;" ng-show="formPerfil.perfil.$error.required">Ingresar nivel de seguridad.</span>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2"  for="txtDescripcion">Descripcion</label>
		<div class="col-sm-5">
			<input type="text" name="descripcion" id="txtDescripcion" class="form-control" ng-model="perfil.descripcion" role="Descripcion">
		</div>
	</div>
	<div class="form-group">
		<div  class="col-sm-offset-2 col-sm-4">
			<ul id="Container_Acciones"  class="list-group">
				<li class="list-group-item" ng-repeat="a in acciones | filter:query">
					<input type="checkbox" name="checkbox" id="{{a._id}}" ng-model="a.selected" value="false">
					<label for="{{a._id}}">{{a.accion}}</label>
				</li>
			</ul>
		</div>
		<div class="col-sm-offset-2 col-sm-4">
			<input type="text" class="form-control" ng-model="query" placeholder="Buscar por accion...">
		</div>
	</div>


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<input id="btnGuardarPerfil" type="button" ng-disabled="!formPerfil.$valid"  ng-click="savePerfil();" class="btn btn-success" class="form-control"  value="Guardar"/>
			<input type="button" ng-click="cancelPerfil();" class="btn btn-danger" class="form-control"  value="Cancelar"/>
		</div>
	</div>
</form>