<div class="modal fade" id="{{input.modal_name}}" tabindex="-1" role="dialog" aria-labelledby="{{input.modal_name}}Label">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
              <div class="modal-header">
               <h5 class="modal-title" id="{{input.modal_name}}Label">{{input.title}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
       
             <form name="form" novalidate>
               <div class="modal-body">
                  <modal-include ctr-modal="input" input="input.template"></modal-include> 
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-outline-grey btn-sm" ng-click="input.cancel(this.form);"data-dismiss="modal">{{input.AplicationText.cancel}}</button>
                   <button type="submit" class="btn btn-primary btn-sm" ng-click="input.submit(this.form);">{{input.AplicationText.submit}}</button>
               </div>
             </form>
           </div>
         </div>
       </div>
       
       