
<div ng-show="loading" class="container loadingContent"></div>

<div ng-show="!loading && authorized" >
<div id="Container_Acciones" class="page-header">
	<h1>Acciones</h1>
</div>
<!-- MENSAJE -->
<div class="alert-division" ng-show="alerts.length > 0">
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
	<span ng-show="alert.type === 'danger'" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
	</span>
		<span class="sr-only">Error:</span>
		<strong ng-show="alert.strong">{{alert.strong}}</strong>
		{{alert.msg}}
		<a ng-show = "alert.ltext" href="" ng-click="frontDoor(alert.lfunc)"
		   class="alert-link">{{alert.ltext}}</a>
	</alert>
</div>
<!-- END MENSAJE -->
<div id="Container_Acciones_Data" class="row">
	<div class="col-xs-5">
		<a id="btnNuevaAccion" href="/#!/acciones.create" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
		<a id="btnEditar" ng-show="!editar" ng-click="habilitarEdicion()" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
		<a id="btnCancelarEditar" ng-show="editar" ng-click="habilitarEdicion()" class="btn btn-warning"><span class="glyphicon"></span> Cancelar</a>
	</div>
	<div class="col-xs-7">
		<input type="text" class="form-control" ng-model="query" placeholder="Buscar accion">
	</div>
	<div class="row">
		<div class="col-xs-12"><hr></div>
	</div>
</div>
<br>
<div class="row">
	<ul  class="list-group">
		<li class="list-group-item" ng-repeat="accion in acciones| filter:query">
			<label >{{accion.accion}}</label>
			<a href="/#!/acciones.create?accionId={{accion._id}}" ng-show="editar"  class="label  label-primary">Modificar</a>
			<a href="/#!/acciones.delete?accionId={{accion._id}}" ng-show="editar"  class="label  label-danger">Eliminar</a>
		</li>
	</ul>
</div>
</div>


