<div  class="form-group">
    <p>{{orden}}. {{matrix.question}}</p>

    <table class="table" width="150px" style="width: 600px;">
        <tr>
            <td></td>
            <td ng-repeat="item in matrix.columns">
                {{item.text}}
            </td>
            <td></td>
        </tr>
        <tr ng-repeat="item in matrix.list">
            <td>{{item.text}}</td>
            <td scope="col" ng-repeat="item2 in matrix.columns">
                <input ng-disabled="disabled" ng-model="matrix.response[$parent.$index]" value='{{item.text}};{{item2.text}}' type="radio" name="mat{{$parent.$index}}{{$index}}"/>

            </td>
        </tr>
    </table>
</div>
