<div  class="form-group">
    <p>{{orden}}. {{quality.question}}</p>
    <table class="table" width="150px" style="width: 600px;">
           <tr>
               <td></td>
               <td ng-repeat="item in quality.list">
                    {{item.text}}
               </td>
               <td></td>
           </tr>
           <tr>
                <td>{{quality.labelLeft}}</td>
                <td scope="col" ng-repeat="item in quality.list">
                    <input ng-disabled="disabled" ng-model="item.selected" value="{{item.text}}" type="radio" name="q{{orden}}"/>
                </td>
                <td>{{quality.labelRight}}</td>
           </tr>
    </table>
</div>



