<div ng-show="loading" class="container loadingContent"></div>


<h1 ng-show="!loading">{{title}}</h1>
<div class="form-group" ng-show="!loading">
    <div class="form-group">
        <label for="txtSurvey">Nombre de la encuesta</label>
        <input id="txtSurvey" class="form-control" type="text" ng-model="survey.name" rows="3"/>
    </div>
    <div id="container_institucion" class="form-group">
        <label for="Institucion">Institucion</label>
        <select  id="Institucion" class="form-control input-sm"
                ng-model="survey.institucion"
                ng-change="getTaxonomiaPorInstitucion()"
                ng-options="t as t.insSigla + '  -  ' + t.insInstitucion  for t in data.instituciones" >
            <option value="">(Encuesta sin institucion)</option>
        </select>
    </div>
    <div id="container_Taxonomia" class="form-group">
        <label for="Taxonomia">Taxonomia</label>
        <div ng-show="loadingTaxonomia" class="container loadingContent"></div>
        <select ng-show="!loadingTaxonomia" id="Taxonomia" class="form-control input-sm"
                ng-model="survey.taxonomia"
                ng-init="survey.taxonomia=data.taxonomias[0]"
                ng-options="t as t.taxTramite  for t in data.taxonomias" >
            <option value="">(Encuesta sin taxonomia)</option>
        </select>
    </div>
    <br>

    <div class="form-group">
        <label for="vigenciaDesde">Vigencia de la encuesta</label><br>
        <div class="col-md-2">
            <input class="form-control input-sm"
                   type="text" id="vigenciaDesde"
                   name="vigenciaDesde"
                   ng-model='survey.vigenciaDesde'>
        </div>
        <div class="col-md-2">
            <input class="form-control input-sm" type="text" id="vigenciaHasta" name="vigenciaHasta" ng-model='survey.vigenciaHasta'>
        </div>
    </div>

    <br/>

    <div class="form-group">
        <div class="col-md-8">
            <input id="pollCheck" type="checkbox" name="pollCheck" ng-model="survey.isEnabled"> <label for="pollCheck">Habilitar</label> <br>
            <input id="pollDefault" type="checkbox" name="pollDefault" ng-model="survey.isDefault"> <label for="pollDefault">Encuesta por defecto</label>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <a href="/#!/survey" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Volver a la lista de encuestas </a>
        <button id="btnEnviarEncuesta" class="btn btn-primary" ng-show="!loadingTaxonomia" ng-click="accept()">Aceptar &nbsp; &raquo; &raquo; </button>
    </div>

    <br/>

    <!--<br>-->
    <!--<input type="button" ng-click="accept()"  class="btn btn-primary" value="Crear encuesta">-->
</div>


