
<style>
    .selectedPoll{
        background-color: #ffffef;
    }
</style>
<br>
<!-- MENSAJE -->
<div class="alert-division" ng-show="alerts.length > 0">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
        <span ng-show="alert.type === 'danger'" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
        </span>
        <span class="sr-only">Error:</span>
        <strong ng-show="alert.strong">{{alert.strong}}</strong>
        {{alert.msg}}
        <a ng-show = "alert.ltext" href="" ng-click="frontDoor(alert.lfunc)"
           class="alert-link">{{alert.ltext}}</a>
    </alert>
</div>
<!-- END MENSAJE -->



<div class="row" ng-show="!loading">
    <div class="col-xs-5">
        <h1 style="margin: 0;padding: 0">Encuestas
            <a id="btnNueva"   href="/#!/surveyCreate" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Nueva </a>

              

            
            <a id="btnEditar" ng-show="!editar" ng-click="habilitarEdicion()" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Editar</a>


            <a id="btnCancelarEditar" ng-show="editar" ng-click="habilitarEdicion()" class="btn btn-warning"><span class="glyphicon"></span> Cancelar</a>
        </h1>
    </div>
    <div class="col-xs-5">
        <input type="text" class="form-control" ng-model="query" placeholder="Buscar...">
    </div>
</div>
<br><br>



<div ng-show="loading" class="container loadingContent"></div>

<ul  class="list-group">
    <li class="list-group-item" ng-repeat="item in surveyList | filter:query">
        <a href="/#!/survey/{{item._id}}"><b>{{item.name}} </b></a>
        {{item.vigenciaDesde | date:'yyyy/MM/dd'}} - {{item.vigenciaHasta | date:'yyyy/MM/dd'}}<br>
        {{item.institucion.insSigla}} {{item.taxonomia.taxTramite}}
        <a href="/#!/surveyEdit/{{item._id}}" ng-show="editar"  class="label  label-info">Modificar</a>
        <a href="/#!/surveyAddQuestion/{{item._id}}" ng-show="editar"  class="label  label-info">Editar Preguntas</a>
        <a href="#" ng-show="editar"  class="label  label-danger">Eliminar</a>
    </li>
</ul>