 
<div class="container-fluid">
    <!--Section: Table-->
    <section class="mb-2">
        <div class="card p-1 mb-5">
          <h2 class="h2-responsive font-weight-bold text-left my-2 mx-2">
            <div class="row">
            <div class="col-10">
                Survey List
            </div>
            <div class="col-2 text-right" >
                <i class="fa fa-plus pr-2" data-toggle="tooltip" title="New survey"></i>

            </div>
          </div>
          

          </h2>

          
          <form>
              <div class="row ">
                    <div class="modal-body  col-md-9">
                        <div class="md-form mx-2">
                            <input type="text" 
                                id="buscar"
                                name="buscar" 
                                class="form-control validate"
                                ng-model="search_survey">
                            
                            <label  for="buscar">{{AplicationText.search}}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                      <div class="md-form  text-right mx-2">
                        <button class="btn btn-default text-capitalize" type="button">
                                {{AplicationText.search}}</i>
                        </button>
                      </div>
                    </div>
              </div>
          </form>
 
 <div ng-show="loading" class="container loadingContent"></div>

 <div class="card-deck">
  <div class="card mb-4" ng-repeat="item in surveyList | filter:search_survey">
    <div class="card-body">
      <h4 class="card-title">{{item.name}}</h4>
      <p class="card-text">
        {{item.vigenciaDesde | date:'yyyy/MM/dd'}} - {{item.vigenciaHasta | date:'yyyy/MM/dd'}}<br>
                {{item.institucion.insSigla}} {{item.taxonomia.taxTramite}}
      </p>
      
      <a href="/#!/survey/{{item._id}}" class="btn btn-light-blue btn-md">View</a>

      <a href="/#!/surveyEdit/{{item._id}}" ng-show="editar"  class="label  label-info">Modificar</a>
      <a href="/#!/surveyAddQuestion/{{item._id}}" ng-show="editar"  class="label  label-info">Editar Preguntas</a>
      <a href="#" ng-show="editar"  class="label  label-danger">Eliminar</a>
    </div>
  </div>
</div>

<!-- 

        <ul  class="list-group">
            <li class="list-group-item" ng-repeat="item in surveyList | filter:query">
                <a href="/#!/survey/{{item._id}}"><b>{{item.name}} </b></a>
                {{item.vigenciaDesde | date:'yyyy/MM/dd'}} - {{item.vigenciaHasta | date:'yyyy/MM/dd'}}<br>
                {{item.institucion.insSigla}} {{item.taxonomia.taxTramite}}

                <a href="/#!/surveyEdit/{{item._id}}" ng-show="editar"  class="label  label-info">Modificar</a>
                <a href="/#!/surveyAddQuestion/{{item._id}}" ng-show="editar"  class="label  label-info">Editar Preguntas</a>
                <a href="#" ng-show="editar"  class="label  label-danger">Eliminar</a>
            </li>
        </ul>
-->
          <modal name="modalEditSurvey" input="modalEditSurvey"></modal>

          <!-- Fin form -->

          <div class="row d-flex justify-content-center"> <!-- alinea al centro -->
            <div class="col-lg-9 col-md-12">
               
               <div class="single-news mb-9 ">
                  <!-- Image 
                  <div class="view overlay rounded z-depth-1-half mb-4">
                      <img  class="img-fluid" 
                            src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg" 
                            alt="Sample image">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                  </div> -->
                  <!-- Data
                  <div class="news-data d-flex justify-content-between">
                      <a href="#!" class="light-blue-text">
                        <h6 class="font-weight-bold">
                          <i class="fa fa-plane pr-2"></i>
                          Travels</h6></a>
                      <p class="font-weight-bold dark-grey-text">
                        <i class="fa fa-clock-o pr-2"></i>
                        20/08/2018</p>
                  </div>  -->
                   <!-- Excerpt 
                  <h3 class="font-weight-bold dark-grey-text mb-3"><a>Title of the news</a></h3>
                  <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>-->

                </div>
                <!-- List --> 
                <!-- 1 
                <div class="single-news mb-4">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="view overlay rounded z-depth-1 mb-4">
                          <img class="img-fluid" 
                               src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" 
                               alt="Sample image">
                          <a><div class="mask rgba-white-slight"></div></a>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <p class="font-weight-bold dark-grey-text">19/08/2018</p>
                        <div class="d-flex justify-content-between">
                          <div class="col-11 text-truncate pl-0 mb-3">
                            <a href="#!" class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                          </div>
                          <a><i class="fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                </div>--> 
                <!-- 2 
                <div class="single-news mb-4">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="view overlay rounded z-depth-1 mb-4">
                        <img class="img-fluid" 
                             src="https://mdbootstrap.com/img/Photos/Others/images/54.jpg" 
                             alt="Sample image">
                        <a><div class="mask rgba-white-slight"></div></a>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <p class="font-weight-bold dark-grey-text">18/08/2018</p>
                      <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                          <a href="#!" class="dark-grey-text">Soluta nobis est eligendi optio cumque nihil impedit quo minus</a>
                        </div>
                        <a><i class="fa fa-angle-double-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div> --> 
                <!-- 3 
                <div class="single-news mb-lg-0 mb-4">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="view overlay rounded z-depth-1 mb-lg-0 mb-4">
                        <img  class="img-fluid" 
                              src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" 
                              alt="Sample image">
                        <a><div class="mask rgba-white-slight"></div></a>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <p class="font-weight-bold dark-grey-text">17/08/2018</p>
                      <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-lg-0 mb-3">
                          <a href="#!" class="dark-grey-text">Voluptatem accusantium doloremque</a>
                        </div>
                        <a><i class="fa fa-angle-double-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div> --> 
                <!-- Fin list -->
            </div>
          </div>
          <!-- Fin header -->

        </div>
    </section>
</div>
 