 
<style type="text/css">
    .picker__box .picker__header .picker__date-display{
        display: none;
    }

</style>

 <div class="form-row">
    <div class="col-sm-12">
        <div class="md-form">
            <input  id="txtSurvey" 
                    type="text" 
                    ng-model="ctrModal.model.name"
                    
                    placeholder="Nombre de la encuesta" 
                    class="form-control form-control-sm" 
                    ng-disabled="ctrModal.method=='DELETE'"
                    />
                    
        </div>
    </div>
</div>
<div class="form-row">
        <div class="md-form col-md-6  mb-0">
                <input  class="form-control form-control-sm calendar"
                        type="text" id="vigenciaDesde"
                        name="vigenciaDesde"
                        ng-model="ctrModal.model.vigenciaDesde"
                        placeholder="Vigencia desde"
                        ng-disabled="ctrModal.method=='DELETE'"
                        >
                
        </div>
        <div class="md-form col-md-6  mb-0" >
                <input class="form-control form-control-sm calendar" 
                type="text" 
                id="vigenciaHasta" 
                name="vigenciaHasta" 
                ng-model="ctrModal.model.vigenciaHasta"
                placeholder="Vigencia hasta" 
                ng-disabled="ctrModal.method=='DELETE'"
                >
        </div>
</div>

<div class="form-row">
    <div class="md-form col-md-6  mb-0">
        <input  id="pollCheck"  
                        class="form-check-input" 
                        type="checkbox" 
                        name="pollCheck" 
                        ng-model="ctrModal.model.isEnabled"
                        ng-disabled="ctrModal.method=='DELETE'"
                        > 
        <label class="form-check-label" for="pollCheck">Habilitar</label> <br>
    </div>
    <div class="md-form col-md-6  mb-0">
        <input id="pollDefault" 
                    class="form-check-input" 
                    type="checkbox" 
                    name="pollDefault" 
                    ng-model="ctrModal.model.isDefault"
                    ng-disabled="ctrModal.method=='DELETE'"
                    > 
            <label class="form-check-label" for="pollDefault">Encuesta por defecto</label>
    </div>
</div>
<br>
 

 