 
<style type="text/css">
    .picker__box .picker__header .picker__date-display{
        display: none;
    }

</style>

 <div class="form-row">
    <div class="col-sm-12">
        <div class="md-form">
            <input  id="txtSurvey" 
                    type="text" 
                    ng-model="ctrModal.model.name"
                    
                    placeholder="Nombre de la encuesta" 
                    class="form-control form-control-sm" 
                    ng-disabled="ctrModal.method=='DELETE'"
                    />
                    
        </div>
    </div>
</div>
<div class="form-row">
        <div class="md-form col-md-6  mb-0">
            <datepicker date-format="yyyy/MM/dd">
                    <input 
                    class="form-control form-control-sm"
                    ng-model="ctrModal.model.vigenciaDesde"
                    placeholder="Vigencia desde"
                    ng-disabled="ctrModal.method=='DELETE'"
                    autocomplete="off"
                    formatted-input format-type="fecha"
                    type="text"/>
            </datepicker>
        </div>
        <div class="md-form col-md-6  mb-0" >
            <datepicker date-format="yyyy/MM/dd" date-min-limit="ctrModal.model.vigenciaHasta">
                <input 
                    id="vigenciaHasta" 
                    name="vigenciaHasta" 
                    class="form-control form-control-sm"
                    ng-model="ctrModal.model.vigenciaHasta"
                    placeholder="Vigencia hasta"
                    formatted-input format-type="fecha"
                    ng-disabled="ctrModal.method=='DELETE'"
                    autocomplete="off"
                    type="text"/>
            </datepicker>
        </div>
</div>

<div class="form-row">
    <div class="md-form col-md-6  mb-0">
        <input  id="pollCheck"  
                        class="form-check-input" 
                        type="checkbox" 
                        name="pollCheck" 
                        ng-model="ctrModal.model.isEnabled"
                        ng-disabled="ctrModal.method=='DELETE'"
                        > 
        <label class="form-check-label" for="pollCheck">Habilitar</label> <br>
    </div>
    <div class="md-form col-md-6  mb-0">
        <input id="pollDefault" 
                    class="form-check-input" 
                    type="checkbox" 
                    name="pollDefault" 
                    ng-model="ctrModal.model.isDefault"
                    ng-disabled="ctrModal.method=='DELETE'"
                    > 
            <label class="form-check-label" for="pollDefault">Encuesta por defecto</label>
    </div>
</div>
<br>
 

 