<div class="">
        <h2 class="h2-responsive mb-3 text-left">{{orden}}. {{check.question}}</h2>
        <div class="d-flex justify-content-start pt-2 pb-2">
                <div class="col-lg-6">
                        <div ng-repeat="checkItem in check.list" class="form-check mb-2">
                                <input  type="checkbox" class="form-check-input" 
                                        ng-disabled="disabled" ng-model="checkItem.selected" 
                                        id="sy_{{$index}}">
                                <label class="form-check-label" for="sy_{{$index}}">{{checkItem.text}}</label>
                            </div>
                </div>
        </div>    
        <div ng-if="buttonOn"  class="d-flex justify-content-end"  >
                <a class="btn btn-primary" role="button">Next</a>
        </div> 
</div>



 