<section class="card p-3 pb-0 mb-1">
    <p class="mb-4">{{orden}}. {{matrix.question}}</p>
    <table class="table">
        <tr>
            <td></td>
            <td  ng-repeat="item in matrix.columns">
                {{item.text}}
            </td>
        </tr>
        <tr ng-repeat="item in matrix.list">
            <td>{{item.text}}</td>
            <td scope="col"  ng-repeat="item2 in matrix.columns">
                <input
                    ng-disabled="disabled"
                    ng-model="matrix.input[$parent.$index]" value='{{item.text}};{{item2.text}}' type="radio" 
                    id="mat{{$parent.$index}}{{$index}}"
                    name="mat{{$parent.$index}}{{$index}}"
                    class="form-check-input "/>
                <label class="form-check-label " for="mat{{$parent.$index}}{{$index}}"></label>
            </td>
        </tr>
    </table>
</section>
