<div>
    <h2 class="h2-responsive mb-3 text-left">{{orden}}. {{quality.question}}</h2>
    <table class="table pt-2 pb-2">
           <tr>
               <td></td>
               <td class="ml-0 pl-0"  ng-repeat="item in quality.list">
                    {{item.text}}
               </td>
               <td></td>
           </tr>
           <tr>
                <td>{{quality.labelLeft}}</td>
                <td scope="col" class="ml-0 pl-0"  ng-repeat="item in quality.list">
                            <input  ng-disabled="disabled" 
                                    ng-model="quality.input" 
                                    value="{{item.text}}"
                                    type="radio" 
                                    name="q{{orden}}"
                                    class="form-check-input" 
                                    id="qty{{$index}}"/>
                                    
                            <label class="form-check-label  ml-0 pl-0" for="qty{{$index}}"></label>
                </td>
                <td>{{quality.labelRight}}</td>
           </tr>
    </table>
    <div ng-if="buttonOn"  class="d-flex justify-content-end"  >
            <a class="btn btn-primary" role="button">Next</a>
    </div>   
</div>



