<div>
    <h2 class="h2-responsive mb-3 text-left">{{orden}}. {{question.question}}</h2>
    <table class="table pt-2 pb-2">
           <tr>
               <td></td>
               <td class="ml-0 pl-0"  ng-repeat="item in question.list">
                    {{item.text}}
               </td>
               <td></td>
           </tr>
           <tr>
                <td>{{question.labelLeft}}</td>
                <td scope="col" class="ml-0 pl-0"  ng-repeat="item in question.list">
                            <input  ng-disabled="disabled" 
                                    ng-model="question.input" 
                                    value="{{item.text}}"
                                    type="radio" 
                                    name="q{{orden}}"
                                    class="form-check-input" 
                                    id="qty{{$index}}"/>
                                    
                            <label class="form-check-label  ml-0 pl-0" for="qty{{$index}}"></label>
                </td>
                <td>{{question.labelRight}}</td>
           </tr>
    </table>
    <div ng-if="buttonOn"  class="d-flex justify-content-end"  >
            <a ng-hide="orden==1" class="btn btn-primary" 
            role="button" 
            data-target="{{target}}" 
            role="button" 
            data-slide="prev">Prev</a>
            
            <a class="btn btn-primary" 
            role="button" 
            data-target="{{target}}" 
            role="button" 
            ng-hide="orden==surveysize+1"
            data-slide="next">Next</a>
    </div>   
</div>



