<div>
    <h2 class="h2-responsive mb-3 text-left">{{orden}}. {{radio.question}}</h2>
    <div class="d-flex justify-content-start pt-2 pb-2">
            <div class="col-lg-6">
                    <div ng-repeat="listItem in radio.list" class="form-check mb-2">
                            <input  type="radio" class="form-check-input" id="rdb{{$index}}"  name="rd{{orden}}"
                                    ng-disabled="disabled" ng-model="radio.input" ng-value="{{listItem}}">
                            <label class="form-check-label" for="rdb{{$index}}">{{listItem.text}}</label>
                        </div>
            </div>
    </div>    
    <div ng-if="buttonOn"  class="d-flex justify-content-end"  >
                <a class="btn btn-primary" role="button">Next</a>
        </div>   
    
</div>