 <div class="">
        <h2 class="h2-responsive mb-3 text-left">{{vm.orden}}. {{vm.select.question}}</h2>
        <div class="d-flex justify-content-start pt-2 pb-2">
                <div class="col-lg-6">
                        <select style="z-index:200" id="{{vm.id}}"    ng-disabled="vm.disabled" ng-model="vm.select.input" class="mdb-select md-form">
                                <option ng-repeat="sl in vm.select.list"   ng-value="sl.text">{{sl.text}}</option>
                                <option value="" >(Seleccionar)</option>
                        </select>
                </div>
        </div>    
        <div ng-if="vm.buttonOn"  class="d-flex justify-content-end"  >
                <a class="btn btn-primary" role="button">Next 2</a>
        </div> 
</div>


