<section class="card p-2 pb-0 mb-2">
        <p>{{orden}}. {{input.question}}</p>
        <div class="row p-2 pt-0">
                <div class="col-md-6">
                    <div class="input-group"
                        moment-picker="ctrl.timepicker"
                        show-header="false"
                        format="LT">
                    <div class="input-group-prepend">
                            <span class="input-group-text md-addon"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <input class="form-control form-control-sm"
                    
                            placeholder="Select a time"
                            ng-model="ctrl.timepicker"
                            ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
        </div>
    
        <script>
            $(document).ready(function() {
                // initDatePicker("#timepicker1")
            });
        </script>
        
</section>


    

 
 