<div>
       
        <h2 class="h2-responsive mb-3 text-left">{{orden}}. {{time.question}}</h2>
        <div class="d-flex justify-content-start pt-2 pb-2">
                <div class="col-lg-6">
                        <div class="input-group"
                        moment-picker="time.input"
                        show-header="false"
                        format="LT">
                    <div class="input-group-prepend">
                            <span class="input-group-text md-addon"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <input  ng-disabled="disabled" class="form-control form-control-sm"
                    
                            placeholder="Select a time"
                            ng-model="time.input"
                            ng-model-options="{ updateOn: 'blur' }">
                    </div> 
                </div>
        </div>    
        <div ng-if="buttonOn"  class="d-flex justify-content-end"  >
                <a class="btn btn-primary" role="button">Next 2</a>
        </div> 
 
</div>


    

 
 