



<grilla     selected-grid="true"  
            multiple-select="false" 
            mostrar-paginacion="false" 
            order-by-db=false
            btn-edit=true
            btn-add=true
            btn-delete=true
            data="question.grid">
</grilla>
<modal name="modalEditQuestion" input="question.modal"></modal>

<!-- 
<h1>{{survey.name}}</h1>
<h4>Agregue las preguntas de la encuesta</h4>
<br>

<div >
    <div class="col-md-6">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="pregunta" class="control-label col-xs-2">Pregunta</label>
                    <div class="col-xs-10">
                        <input  id="pregunta" class="form-control" type="text" ng-model="data.question" rows="9"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cmbSurvey" class="control-label col-xs-2">Tipo</label>
                    <div class="col-xs-10">
                        <select required="required" ng-disabled="cboTypeDisabled" id="cmbSurvey" class="form-control input-sm"
                                ng-model="data.type"
                                ng-change="onChangeType()"
                                ng-options="s as s.type for s in surveyList" >
                            <option value="survey.default">(Seleccionar tipo)</option>
                        </select>
                    </div>
                </div>
             
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <div class="col-xs-8">
                            <button  ng-click="initAddQuestion()" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus">Nueva</span>
                            </button>
                        </div>
                        <div class="col-xs-1" >
                            <span ng-show="savingQuestion" class="col-xs-1 container loadingContent" style="width: 20px;"></span>
                        </div>
                        <div class="col-xs-1">
                             <button id="btnUpdateQuestionList" type="button" ng-click="accept()"   class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div ng-show='data.type!=undefined'>
            <div class="row" ng-show='(data.type.type!="CUSTOM" && data.type.type!="TIME" && data.type.type!="DATETIME")'>
                <form class="form-horizontal">
                    <fieldset>
                     
                        <div class="form-group">
                            <label for="cmbSurvey" class="control-label col-xs-2">Lista</label>
                            <div class="col-xs-7">
                                <input id="item" type="text" class="form-control" ng-model="listText.text" placeholder="">
                            </div>
                            <div class="col-xs-3">
                                <button id="btnAceptar" type="button" ng-disabled='listText.text==""'  ng-click="addItemToList()"  class="btn btn-success">Agregar</button>
                            </div>
                        </div> 
                   
                        <div class="form-group" ng-show='data.type.type=="QUALITY"' >
                            <label for="labelLeft" class="control-label col-xs-2">Etiqueta</label>
                            <div class="col-xs-7">
                                <input id="labelLeft" class="form-control" type="text" ng-model="data.labelLeft" rows="3"/>
                            </div>
                            <div class="col-xs-3">&nbsp;</div>
                        </div> 
                     
                        <div class="form-group" class="row" ng-show='data.type.type!="DATETIME" && data.type.type!="TIME" && data.type.type!="CUSTOM"'>
                            <div class="col-xs-2"></div>
                            <div class="col-xs-7">
                                
                                <div ng-show="editarLista">
                                    <input type="text" required="required" class="form-control" ng-model="ItemTextEdit.text"  placeholder="">
                                    <br>
                                </div>
                                 MOSTRAR OPCIONES LISTA

                                <ul class="list-group" >
                                    <li class="list-group-item" ng-repeat="item in data.list">
                                        {{item.text}}
                                        <a ng-show="editarLista" class="label  label-primary" ng-click="modificar_lista(item)">Modificar</a>
                                        <a ng-show="editarLista" class="label  label-danger" ng-click="eliminar_lista($index)">Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3" ng-show="data.list.length>0">
                                <a id="btnEditar" ng-show="!editarLista" ng-click="editar_lista()" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                                <a id="btnCancelarEditar"  ng-show="editarLista" ng-click="editar_lista()" class="btn btn-warning"><span class="glyphicon"></span>Aceptar</a>
                            </div>
                        </div>

                        <div class="form-group" ng-show='data.type.type=="QUALITY"' >
                            <label for="labelRight" class="control-label col-xs-2">Etiqueta</label>
                            <div class="col-xs-7">
                                <input id="labelRight" class="form-control" type="text" ng-model="data.labelRight" />
                            </div>
                            <div class="col-xs-3">&nbsp;</div>
                        </div>
                      
                    
                        <div class="form-group" ng-show='data.type.type=="MATRIX"'>
                            <div class="col-xs-2">
                                <label class="control-label">Columnas</label>
                            </div>
                            <div class="col-xs-7">
                                <div>
                                    <input  id="itemColumnName"  type="text" class="form-control" ng-model="columnText.text" placeholder="">
                                    <br>
                                </div>
                                
                                <div ng-show="editarLista">
                                    <input type="text" required="required" class="form-control" ng-model="ItemTextColumnEdit.text"  placeholder="">
                                    <br>
                                </div>

                                
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="column in data.columns">
                                        {{column.text}}
                                        <a ng-show="editarLista" class="label  label-primary" ng-click="modificar_columnas(column)">Modificar</a>
                                        <a ng-show="editarLista" class="label  label-danger" ng-click="eliminar_columnas($index)">Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <button id="btnAgregarColumna" type="button" ng-disabled='columnText.text==""'  ng-click="addItemToColumn()"  class="btn btn-success">Aceptar</button>
                            </div>
                        </div>

 


                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="SurveyMessage" ng-show='page.message!=""' style="border:0;padding: 10px;background-color: #eee;color: #006600;margin-bottom:3px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{page.message}}
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="sqx in survey.questions" ng-click="editarPregunta($index)">
                {{sqx.question}}
            </li>
        </ul>
    </div>
</div>

-->

<!--
http://localhost:1616/#!/surveyAddQuestion/5661a0b23c31bc00226629c5
http://localhost:1616/#!/survey/565c4c247fd43ad01d27f0d0
http://localhost:1616/#!/survey/5661a0b23c31bc00226629c5
-->

