
doctype
html(lang='es',
  ng-app='itcodium',  
	xmlns='http://www.w3.org/1999/xhtml', 
	xmlns:fb='https://www.facebook.com/2008/fbml', 
	itemscope='itemscope', 
	itemtype='http://schema.org/Product')

  include ../includes/head
  body( ng-controller='appController',class="light-gray-skin")
    include ../includes/navBar
    main(class="mt-5")
      div(class="container", data-ng-view)
    page-footer
    include ../includes/foot